{% extends "foundation/base.html" %}

{%block base_body %}
{% load menu %}{% generate_menu %}
{% load cache %}
    {% cache 500 top-bar %}
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">BehavUI</a></h1>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                {% for item in menus.main %}
                <li {% if item.children %}class="has-dropdown"{% endif %}>
                    <a href="{{ item.url }}">{{ item.title }}</a>
                    {% if item.children %}
                        <ul class="dropdown">
                            {% for subitem in item.children %}
                            <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </section>
    </nav>
    {% endcache %}
    {% block content %}Content{% endblock content %}

{%endblock base_body %}
