Django==1.7
Unidecode==0.04.16
WebOb==1.4
WebTest==2.0.15
app-version==0.2.1
awesome-slugify==1.6
beautifulsoup4==4.3.2
django-appconf==0.6
django-braces==1.4.0
django-debug-toolbar==1.2.1
django-extensions==1.4.0
django-extra-views==0.6.5
django-formset-js==0.4.0
django-fsm==2.2.0
django-jquery-js==2.0.3
django-permission==0.8.2
django-suit==0.2.11
django-tag-parser==2.0b1
django-viewflow==0.5.0
django-webtest==1.7.7
docutils==0.12
regex==2014.09.18
singledispatch==3.4.0.3
six==1.8.0
sqlparse==0.1.11
tolerance==0.1.2
waitress==0.8.9
